/* Commodore 64 colors! */
/* #000 black */
/* #00A blue */
/* #08F light blue */
/* #AFE cyan */
/* #0C5 green */
/* #AF6 light green */
/* #333 dark gray */
/* #777 light grey */
/* #BBB light light grey */
/* #FFF white */
/* #640 brown */
/* #800 red */
/* #F77 light red */
/* #C4C violet */
/* #D85 orange */
/* #EE7 yellow */


html, body {
    display: absolute;
    background-color: #08F;
    color: #BBB;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'VT323', monospace;
    font-size: 28px;
    caret-color: transparent;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#app {
    border: 1px solid #BBB;
    background-color: #00A;
    width: 640px;
    height: 480px;
}

#game {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-gap: 0px;
}

.dead {
    background-color: #00A;
    border: 1px solid #FFF;
    width: 18px;
    height: 18px;
}

.alive {
    background-color: #FFF;
    grid-gap: 2px;
    width: 16px;
    height: 16px;
}

h1 {
    color: #FFF;
    -webkit-text-stroke: 2px #00A;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: 1px solid #FFF;
    font-family: 'VT323', monospace;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.off {
    background-color: #0C5;
    color: #333;
}

.on {
    background-color: #777;
    color: #FFF;
}

#clear {
    background-color: #800;
    color: #FFF;
}

#next {
    background-color: #EE7;
    color: #333;
}
