/* Commodore 64 colors! */
/* #000 black */
/* #00A blue */
/* #08F light blue */
/* #AFE cyan */
/* #0C56 green */
/* #AF6 light green */
/* #333 dark gray */
/* #777 light grey */
/* #BBB light light grey */
/* #FFF white */
/* #640 brown */
/* #800 red */
/* #F77 light red */
/* #C4C violet */
/* #D85 orange */
/* #EE7 yellow */


html, body {
    display: absolute;
    background-color: #08F;
    color: #BBB;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'VT323', monospace;
    font-size: 28px;
}

#container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#app {
    border: 1px solid #BBB;
    background-color: #00A;
    width: 640px;
    height: 480px;
}

#game {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0px;
}

.cell {
    background-color: red;
    border: 1px solid #FFF;
    width: 38px;
    height: 38px;
}
